/* Zwiększ szerokość kalendarza */
.react-calendar {
    width: 100% !important;
    max-width: none !important;
    height: auto;
  }
  
  .react-calendar__tile {
    border-radius: 8px;  /* Zaokrąglenie rogów kafelków */
    padding: 10px;  /* Większy padding */
  }
  
  .react-calendar__month-view__weekdays {
    font-size: 1.1rem;  /* Zwiększenie czcionki dla dni tygodnia */
  }
  